streamlit
pandas
sqlalchemy
psycopg2
streamlit-extras
streamlit-authenticator
plotly
entrypoints
streamlit-option-menu
pygwalker
streamlit-aggrid
mysql-connector-python
mysql-connector
mysqlclient==2.1.0
python-dotenv
mitosheet