body {
  display: grid;
  grid-template-columns: auto auto;
}
.top {
  --offset: 50px;

  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  width: 45px;
  aspect-ratio: 1;
  background: #005fac;
  border-radius: 10px;
  color: white;
}

.top:before {
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
header{
  display: none;
}
.element-container.css-1d4fp9k.e1f1d6gn2{
  display: none;
}