/*logo*/
.css-1kyxreq,
.css-y4bq5x {
  justify-content: center;
}

.css-z5fcl4 {
  padding: 3rem 1rem 10rem;
}
[data-testid="stVerticalBlock"] {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  margin: 0rem 0rem 0rem 0rem;
}
/*judul*/
.css-1fyphr1 {
  margin-left: 10rem;
}
.css-10trblm {
  text-align: center;
}
.css-5rimss {
  display: flex;
  justify-content: center;
}
