[data-testid="stAppViewContainer"] {
  background-color: #f6f7f8;
}

[data-testid="stHeader"]{
  display:none
}
.css-18ni7ap {
  visibility: hidden;
}
.css-1l269bu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc91b;
  color: white;
  padding: 10px 20px;
  border-radius: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  cursor: pointer;
}
.css-5rimss a {
  color: white;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}
.css-7ym5gk {
  background-color: #28377a;
}

[data-testid="stForm"] {
  margin: 0rem 10rem;
}
.css-y4bq5x {
  justify-content: center;
}
[data-testid="stText"] {
  color: #28377a;
}
/* [data-testid="stAppViewContainer"] {
  background-color: #f4f7f5;
} */
.css-nprvyh {
  display: contents;
}

div.css-zt5igj.eqr7zpz3 {
  align-items: center;
  text-align: center;
}
.css-12w0qpk {
  border: 1px solid #2c5a7b;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  box-shadow: 0 0 3px #2c5a7b;
  border-radius: 3px;
  margin-top: 1rem;
}
[data-testid="stVerticalBlock"] {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

.stAlert {
  margin: 0rem 0rem;
}

.css-18e3th9 {
  padding-top: 0rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.css-1d391kg {
  padding-top: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
  padding-left: 1rem;
}

.reportview-container .main .block-container {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}
header.css-1ck8f3p.e8zbici2 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

div.css-za9a7r {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

svg.main-svg {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

div.css-79elbk {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

section.main css-uf99v8.egzxvld5 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

div.css-j5r0tf.esravye1 {
  color: black;
}

.css-1svgoqi p {
  color: black;
}
.css-ykwuo3 {
  gap: 0rem;
}

.css-z5fcl4 {
  padding: 1rem 0.5rem;
}

#tabs-bui70-tabpanel-0 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

footer {
  visibility: hidden;
}
/* [data-testid="stSidebar"] {
  background-color: #2c5a7b;
  border: 1px solid rgb(248, 229, 229);
  box-shadow: 0 0 3px rgba(250, 242, 242, 0.767);
  border-radius: 3px;
} */
.css-pkbazv,
.css-17lntkn,
.css-nqowgj {
  color: white;
}

/* login button*/
.css-1n543e5 {
  background-color: #005fac;
}
.css-fblp2m {
  background-color: #2c5a7b;
}
.css-81oif8,
.css-ue6h4q {
  background-color: #28377a;
  color: white;
  padding-left: 1rem;
}
.css-81oif8.e1oyb3mv3 {
  background-color: #28377a;
  color: white;
}

/* [data-testid="stText"] {
  color: white;
} */
div.st-di {
  color: white;
}
div.stCheckbox {
  background-color: #28377a;
}

.css-1vbkxwb {
  color: white;
}
button[kind="secondary"] {
  background-color: #28377a;
}
.st-emotion-cache-10trblm{
  text-align: center;
}

header{
  display: none;
}
.element-container.css-1d4fp9k.e1f1d6gn2{
  display: none;
}
[data-baseweb="select"]{
  color: grey;
}