[data-testid="stForm"] {
  margin: 0rem 10rem;
}

div.css-zt5igj.eqr7zpz3 {
  align-items: center;
  text-align: center;
}

[data-testid="stVerticalBlock"] {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

.stAlert {
  margin: 0rem 10rem;
}

.css-18e3th9 {
  padding-top: 0rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.css-1d391kg {
  padding-top: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
  padding-left: 1rem;
}

.reportview-container .main .block-container {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}
header.css-1ck8f3p.e8zbici2 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

div.css-za9a7r {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

svg.main-svg {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

div.css-79elbk {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

section.main css-uf99v8.egzxvld5 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

div.css-j5r0tf.esravye1 {
  color: black;
}

.css-1svgoqi p {
  color: black;
}
.css-ykwuo3 {
  gap: 0rem;
}

.css-z5fcl4 {
  padding: 1rem 1rem 1rem;
}

#tabs-bui70-tabpanel-0 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

footer {
  visibility: hidden;
}
